<link href="../../css/registro.css" rel="stylesheet" />
<div id="InitingPage">

      <div cg-busy="myPromise" ng-init="init()">
	
            
          <div align="center">
                            
             <contenttemplate>
                               <div>
                                   <form data-toggle="validator" role="form">
                                   <table class="tableRegister">
                                     <tbody><tr>
                                         <td class="td1"></td>
                                        <td class="td1">
                                            <img src="http://192.168.20.9/GA_Centralizacion/CuentasXPagar/Imagenes/Logos/LogoAndrade.jpg" alt="" width="300" height="100">
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">

                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">

                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                           <h1 class="CrearCuenta">EDITAR CUENTA</h1>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">

                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                 </tbody>
                                </table>

                               </div>
                               
                  <form data-toggle="validator" role="form">         
                        <div>
                             <!--   <table class="tableRegister">
                                     <tbody>
                                    <tr><td>-->
                                          <div class="form-group">
                                                <label for="inputRazonSocial" class="control-label">Razon social</label>
                                                 <input type="text" class="form-control" style="width:300px;" id="inputName" placeholder="Razon social" required>
                                           </div>
                                         <!--  </td>
                                       
                                    </tr>
                                   
                                     <tr>
                                     <td>-->
                                         <div class="form-group">
                                                <label for="inputRfc" class="control-label" >RFC</label>
                                                 <input type="text" class="form-control" readonly style="width:300px;" id="inputName" placeholder="RFC" required>
                                           </div>
                                    <!-- </td>
                                       
                                 </tr>
                                   
                                    <tr >
                                        <td>-->
                                            <div class="form-group" >
                                                <label for="inputEmail" class="control-label">Correo</label>
                                                <input type="email" class="form-control" id="txtCorreo" placeholder="Correo" data-error="Bruh, that email address is invalid" style="width:300px;"  required ng-model="registro.txtCorreo">
                                               <!-- <div class="help-block with-errors">
                                                
                                                </div>-->
                                            </div>
                                            
                                       <!-- </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>-->
                                             <div class="form-group">
                                                    <label for="inputPassword" class="control-label">Contraseña</label> </br>
                                                         <!--<div class="form-group">-->
                                                                <input type="password" data-minlength="6" style="width:300px" class="form-control" id="inputPassword" placeholder="Contraseña" required>
                                                                
                                                                <div class="help-block" style="width:300px">Minimo 6 carateres</div>
                                                       <!-- </div>-->
                                                         
                                                       
                                            </div>
                                             
                        
                                      <!--  </td>
                                    </tr>
                                    <tr>
                                        <td>-->
                                            
                                            <div class="form-group ">

                                                                <input type="password" class="form-control" style="width:300px"  id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirmar Contraseña" required>
                                                                <div class="help-block"style="width:300px">Confirmar Contraseña</div>
                                                                <div class="help-block with-errors"></div>
                                              </div>
                                     <!--   </td>
                                    </tr>
                                    <tr>
                                        <td>-->
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Editar Cuenta</button>
                                            </div>
                                     <!--   </td>
                                    </tr>

                                 
                                   
                                </tbody></table>-->
                                </div>
                        </form>
                      </div>
             </contenttemplate>
                                  
                        
         </div>
	        
    </div>

</div>
