
<link href="../../css/login.css" rel="stylesheet" />
<div id="InitingPage">

    <div cg-busy="myPromise" >
	
	
        <div class="container">
            <h1 class="text-center textMensajes">Recepción de Facturas de proveedores</h1>
                <div align="center">
                    <img src="http://192.168.20.9/GA_Centralizacion/CuentasXPagar/Imagenes/Logos/LogoAndrade.jpg" alt="" width="300" height="100">
                </div>
         </div>
         <div class="modal-body">
             <form name="loginForm">     
                    <div class="container" id="loginPage" align="center">                  
                        <div id="ctl09" ng-controller="loginController">	</br></br>
                                <input name="txtUser" id="Usuario" type="text"  placeholder="Usuario" ng-model="login.Usuario"  required="" autofocus="" style="text-transform: uppercase;width:300px; height:38px;" ></br>                                
                                <input name="txtPass" id="Password" type="password" placeholder="Password" ng-model="login.Password" required="" class="form-control"> </br></br>


                                <input type="submit" name="btnEntrar"  href="/Ordenes" ng-click="entrar(login)" id="btnEntrar" class="btn btn-primary btnEntrar">
                               <!-- <button ng-click="entrar()"></button >-->
                                <span id="lblMsg" style="color:Red;"></span> </br></br>
                                     ¿No dispones de una cuenta? </br>
                            <a href="/Registro" ng-click="resgistraUsuario()" > Registrate ahora</a>                    
						</div>
                        <div>
                            <button  ng-click="navegar()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                Navegar a una ruta
                            </button>    
    
                        </div>
           
                    </div>
              </form> 
           </div>
    </div>


</div>
