<link href="../../css/login.css" rel="stylesheet" />
<div cg-busy="myPromise" ng-init="init()">

        <div class="container">
            <h1 class="text-center textMensajes">Recepción de Facturas de proveedores</h1>
                <div align="center">
                    <img src="http://192.168.20.9/GA_Centralizacion/CuentasXPagar/Imagenes/Logos/LogoAndrade.jpg" alt="" width="300" height="100">
                </div>
         </div>
<div class="form-group"  >
       <div id = "login">
                            <div>
                                <div>
                                    </br>
                                    </br>
                                </div>
                            </div>
                            <div align="center">
                                            <div class="form-group">
                                                <label for="usuario" class="control-label">Usuario</label>
                                                 <input type="text" id="txtUsuario" class="form-control" ng-model="registro.txtUsuario"  placeholder="Usuario" required>
                                           </div>

                                            <div class="form-group">
                                                    <label for="inputPassword" class="control-label">Contraseña</label> </br>
                                                         <!--<div class="form-group">-->
                                                          <input type="password" class="form-control"  id="txtContra" data-match="#inputPassword"  placeholder="Contraseña" ng-model="registro.txtContra" required>
                                                                
                                                                
                                            </div>

                                     <div class="form-group">

                                                
                                                <button type="summit" class="btn btn-primary" data-loading-text="Cargando..." id="btnBuscar" ng-click="Entrar(registro)">Iniciar sesion</button>
                                     </div> 

                                     <div>
                                         ¿No tiene una cuenta? </br>
                                         <a href="" ng-click="CrearCuenta()" >Crear una cuenta</a>
                                     </div>       
                            </div>

        </div>
        <div id="saludo">
         <div align="center">
            <label for="saludo" id="lblSaludo" class="control-label"> BIENVENIDO </label>
         </div>
     </div>
</div>
</div>

   



