<link href="../../css/registro.css" rel="stylesheet" />
<div id="InitingPage">

<!--<div cg-busy="myPromise" ng-init="init()">
    

                  <div align="center">
                            
                            <contenttemplate>
                                <table class="tableRegister">
                                     <tbody><tr>
                                         <td class="td1"></td>
                                        <td class="td1">
                                            <img src="http://192.168.20.9/GA_Centralizacion/CuentasXPagar/Imagenes/Logos/LogoAndrade.jpg" alt="" width="300" height="100">
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">

                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">

                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                           <h1 class="CrearCuenta">CREAR UNA CUENTA</h1>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">

                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <span id="lblRazonSocial" class="lblRegistrer">Razon social</span> <br>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <input name="txtRazonSocial" type="text" id="txtRazonSocial" class=" form-control txtRegistrer" placeholder="Razon social" required="" autofocus="" ng-model="registro.txtRazonSocial" style="width:300px;">
                                            <br>
                                            
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                     <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <span id="lblRfc" class="lblRegistrer">RFC</span><br>
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <input name="txtRfc" type="text" id="txtRfc" ng-model="registro.txtRfc" class=" form-control txtRegistrer" placeholder="RFC" required="" style="width:300px;"><br>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                     <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                             <span id="lblCorreo" class="lblRegistrer">Correo</span><br>
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                     <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <input name="txtCorreo" type="text" id="txtCorreo" ng-model="registro.txtCorreo" class=" form-control txtRegistrer" placeholder="Correo" required="" style="width:300px;"><br>
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                             <span id="lblContrasena" class="lblRegistrer">Contrasena</span><br>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                     <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <input name="txtContrasena" type="text" id="txtContrasena" ng-model="registro.txtContrasena" class="form-control txtRegistrer" placeholder="Contraseña" required="" style="width:300px;"><br>
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                             <span id="lblConfirmarContrasena" class="lblRegistrer">Confirmar contrasena</span><br>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                     <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <input name="txtConfirmaContrasena" type="text" id="txtConfirmaContrasena" class="form-control txtRegistrer" ng-model="registro.txtConfirmaContrasena"  placeholder="Confirmar Contraseña" required="" style="width:300px;"><br>
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1"><br><br>
                                            <input type="submit" name="btnRegistrar" ng-click="Registro(registro)" id="btnRegistrar" class="buttonRegister" style="background-color: #2b669a; width:300px; height:44px; color: white; font-family:Verdana, Arial;font-size: 18px;border-radius: 10px / 10px;">
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <span id="lblMsg" style="color:Red;"></span>

                                        </td>
                                        <td class="td1"></td>
                                        
                                    </tr>
                                   
                                </tbody></table>

                            </contenttemplate>
                                  
                        
                </div>
    
    </div>

</div>-->


     
	
            
          <div align="center">
                            
          
                               <div>
                                   <form data-toggle="validator" role="form">
                                   <table class="tableRegister">
                                     <tbody><tr>
                                         <td class="td1"></td>
                                        <td class="td1">
                                            <img src="http://192.168.20.9/GA_Centralizacion/CuentasXPagar/Imagenes/Logos/LogoAndrade.jpg" alt="" width="300" height="100">
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">

                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">

                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                           <h1 class="CrearCuenta">CREAR UNA CUENTA</h1>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">

                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                 </tbody>
                                </table>

                               </div>
                               
                  <form data-toggle="validator" role="form">         
                      
                             
                                          <div class="form-group">
                                                <label for="inputRazonSocial" class="control-label">Razon social</label>
                                                 <input type="text" id="txtRazon" class="form-control" ng-model="registro.txtRazon"  style="width:300px;"  placeholder="Razon social" required>
                                           </div>
                                         
                                         <div class="form-group">
                                                <label for="inputRfc" class="control-label">RFC</label>
                                                 <input type="text" id="txtRfc" class="form-control"  style="width:300px;" ng-model="registro.txtRfc"  placeholder="RFC" required>
                                           </div>
                                   
                                            <div class="form-group" >
                                                <label for="inputEmail" class="control-label">Correo</label>
                                                <input type="text" class="form-control" id="txtCorreo" placeholder="Correo" style="width:300px;" ng-model="registro.txtCorreo"  required >
                                             
                                            </div>
                                            
                                      
                                             <div class="form-group">
                                                    <label for="inputPassword" class="control-label">Contraseña</label> </br>
                                                         <!--<div class="form-group">-->
                                                          <input type="password" class="form-control" style="width:300px"  id="txtContra" data-match="#inputPassword"  placeholder="Confirmar Contraseña" ng-model="registro.txtContra" required>
                                                                
                                                                <div class="help-block" style="width:300px">Minimo 6 carateres</div>
                                                       
                                                         
                                                       
                                            </div>
                                             
                        
                                            
                                            <div class="form-group ">

                                                                <input type="password" class="form-control" style="width:300px"  id="txtcContra"  placeholder="Confirmar Contraseña" ng-model="registro.txtcContra" required>
                                                                <div class="help-block"style="width:300px">Confirmar Contraseña</div>
                                                                <div class="help-block with-errors"></div>
                                              </div>
                                  
                                            <div class="form-group">
                                                <button type="summit" class="btn btn-primary" ng-click="Registro(registro)">Crear Cuenta</button>
                                            </div>
                                     
                              
                        </form>
                      </div>
        
                                  
                        
        	       

</div>
