<link href="../../css/registro.css" rel="stylesheet" />
<div id="InitingPage">

<div cg-busy="myPromise" ng-init="init()">
	

                  <div align="center">
                            
                            <contenttemplate>
                               <div>
                                   <table class="tableRegister">
                                     <tbody><tr>
                                         <td class="td1"></td>
                                        <td class="td1">
                                            <img src="http://192.168.20.9/GA_Centralizacion/CuentasXPagar/Imagenes/Logos/LogoAndrade.jpg" alt="" width="300" height="100">
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">

                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">

                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                           <h1 class="CrearCuenta">CREAR UNA CUENTA</h1>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">

                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                 </tbody>
                                </table>

                               </div>
                               <!--<div>
                                   <div class="modal-body">
                                        <form name="registerForm">
                                              <div class="container" id="loginPage" align="center">                  
                                                    <div id="ctl09" ng-controller="loginController">    </br></br>
                                                            <input name="txtUser" id="Usuario" type="text"  placeholder="Razon social" ng-model="login.Usuario"  required="" autofocus="" class="txtRegistro" ></br>                                
                                                            <input name="txtPass" id="Password" type="password" placeholder="Password" ng-model="login.Password" required="" class="txtRegistro"> </br></br>


                                                                                
                                                    </div>
                                                    <div>
                                                        <button  ng-click="navegar()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                                            Navegar a una ruta
                                                        </button>    
    
                                                    </div>
           
                                              </div>

                                        </form> 
                                    </div>
                               </div>-->
                              
                              <div>
                                <table class="tableRegister">
                                     <tbody>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <span id="lblRazonSocial" class="lblRegistrer">Razon social</span> <br>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <input name="txtRazonSocial" type="text" id="txtRazonSocial" class="form-control txtRegistrer" placeholder="Razon social" required="" autofocus="" style="width:300px;">
                                            <br>
                                            <br>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                     <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <span id="lblRfc" class="lblRegistrer">RFC</span><br>
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <input name="txtRfc" type="text" id="txtRfc" class="txtRegistrer" placeholder="RFC" required="" style="width:300px;"><br><br>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                     <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                             <span id="lblCorreo" class="lblRegistrer">Correo</span><br>
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                     <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <input name="txtCorreo" type="text" id="txtCorreo" class="txtRegistrer" placeholder="Correo" required="" style="width:300px;"><br><br>
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                             <span id="lblContrasena" class="lblRegistrer">Contrasena</span><br>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                     <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <input name="txtContrasena" type="text" id="txtContrasena" class="txtRegistrer" placeholder="Contraseña" required="" style="width:300px;"><br><br>
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                             <span id="lblConfirmarContrasena" class="lblRegistrer">Confirmar contrasena</span><br>
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                     <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <input name="txtConfirmaContrasena" type="text" id="txtConfirmaContrasena" class="txtRegistrer" placeholder="Confirmar Contraseña" required="" style="width:300px;"><br><br>
                                        </td>
                                         <td class="td1"></td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1"><br><br>
                                            <input type="button" name="btnRegistrar" ng-click="Registro()" value="Crear Cuenta" id="btnRegistrar" class="buttonRegister" style="background-color: #2b669a; width:300px; height:44px; color: white; font-family:Verdana, Arial;font-size: 18px;border-radius: 10px / 10px;">
                                        </td>
                                        <td class="td1"></td>
                                    </tr>
                                    <tr>
                                        <td class="td1"></td>
                                        <td class="td1">
                                            <span id="lblMsg" style="color:Red;"></span>

                                        </td>
                                        <td class="td1"></td>
                                        
                                    </tr>
                                   
                                </tbody></table>
                            </div>
                            </contenttemplate>
                                  
                        
                </div>
	
    </div>

</div>
