.btnEntrar{
	width:300px
     }

.tblAlineacion{

}
.NewDropdownEmpresas{width:300px}

#txtRegistro{
	width: 500px;
	height:38px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: center;
}

